* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body{
    background-color: #020A18;
    color: #FFFFFF;
    font-family:'Open Sans', sans-serif;
}

.container{
    margin-top: 160px;
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/***************** Headr ****************/
.header{
    width: 100%;
    height: 100px;
    position: absolute;
}

.header__menu{
    display: flex;
    justify-content: center;
    padding: 42px;
    align-items: center;
    font-size: 16px;
    transition: opacity .2s linear;
}
.header__link:hover {
    color: #cacaca;
}

.header__menu .header__link {
    margin-right: 30px;
}

/***************** intro ****************/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 260px;
}

.intro__inner{
    width: 600px;
}

.intro__subtitle{
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.title__intro{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 604px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.intro__text{
    margin-bottom: 41px;
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071; 
}

.button{
    background-color: #3A68B8;
    border: none;
    margin: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight:600;
}

.button .right{
    display: flex;
    align-items: center;
    position: relative;
}

.button:first-child{
    margin-left:0;
}

.button:hover {
    background-color: #2b5192;
}

.icon__button{
    position: absolute;
    transform: rotate(90deg);
    margin-top: 2px;
    vertical-align: middle;
}

.intro__photo{
    position: absolute;
    max-width: 414px;
    max-height: 415px;
    flex-shrink: 0;
    top: 0;
    right: 0;
}

/***************** company ****************/

.company__photo{
    margin-top: 200px;
    margin-bottom: 256px;
}


/***************** brain ****************/

.brain__list{
    margin-bottom:264px ;
}

.brain__inner{
    gap: 68px;
}

.brain__box__text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 484px;
    height: 314px;
    right:0;
    margin-top: 117px;
    margin-bottom:30px;
}

.brain__title{
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 30px;
}

.brain__text{
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;
    margin-bottom: 50px;
}

/* Cards */

.cards__inner{
    margin-bottom:243px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    background-color: #020A18;
}

.column{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #132035;
    justify-content: center;
    align-items: center;
}

.big_column{
    grid-column: span 2;
    grid-row: span 2;
}

.photo__cards{
    margin-top:30px;
    margin-bottom: 30px;
    width: 98px;
    height: 103px;
    flex-shrink: 0;
}

.big_picture{
    margin-top:30px;
    margin-bottom:60px;
    width: 306px;
    height: 322px;
    flex-shrink: 0; 
}

.big_title{
    display: flex;
    width: 650px;
    margin-bottom: 60px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.699999988079071;
}

.big_text{
    margin-bottom:144px;
    display: flex;
    width: 694px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;
}

.text{
    display: flex;
    width: 302px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 30px ;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;
}


/* About */

.about__list{
    
    margin-bottom:203px ;
}

.about__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start; 
}

.about__box__text{

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 540px;
    left: 0;
    margin-left:15px;
}

.about__title{
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 40px;
    margin-top: 14px;
}

.about__text{
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;
    margin-bottom: 32px;
}

.last__child{
    margin-bottom: 14px;
}

.about__photo {
    flex-shrink: 0;
}

/* Footer */

.footer{
    font-family:'Roboto';
    background-color: #070f1d;
    height: 100%;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 47px;
}
  

.footer__title{
    margin-top: 47px;
    margin-bottom: 33px;
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.footer__item img {
    margin-right: 10px;
}
  
.footer__text {
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text_about_the_store{
    width: 261px;
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6000000238418579;
}

.social__item__in{
    margin: 0 24px;
}
